__pycache__/colour.cpython-36.pyc
__pycache__/mcp300x.cpython-36.pyc
.vscode/launch.json
.vscode/settings.json
.vs/slnx.sqlite
.vs/RGBLEDcontroller/v16/.suo
.vs/RGBLEDcontroller/v16/Browse.VC.db
.vs/slnx.sqlite
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
